.headerContainer {
  margin-top: 110px;
}
.container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.formContainer {
  padding-bottom: 30px;
  width: 80vw;
  display: flex;
}
.fields {
  width: 50%;
  margin: 0;
}
.fieldLabel {
  width: 100%;
  display: flex;
}
.fieldLabel label {
  margin-right: 0;
  color: #633511;
  font-size: 12px;
}
.titleContainer {
  width: 80vw;
  border-bottom: solid 1px #633511;
}
.titleContainer h3 {
  font-weight: 600;
  color: #633511;
  font-size: 25px;
}
.subtitle {
  display: flex;
  width: 90vw;
  padding-top: 30px;
}
.subtitle h5 {
  color: #633511;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.inputsContainer {
  margin-top: 20px;
  width: fit-content;
  margin-left: 0;
}
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.field span {
  margin: 0;
  color: #633511;
  font-size: 14px;
  font-weight: 600;
}
.field input,
.field textarea {
  width: 30vw;
  background-color: transparent;
  border: solid 1px #633511;
  outline: 0;
  font-size: 14px;
  color: #633511;
}
.field textarea {
  height: 100px;
}
.inputsContainer button {
  float: right;
  background-color: #633511;
  outline: none;
  border: solid 1px #633511;
  color: #fff;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 4px;
  cursor: pointer;
}

.inputsContainer button:hover {
  background-color: transparent;
  color: #633511;
  transition: 0.15s ease-in-out;
}
.socialMediaContainer {
  padding-top: 80px;
  width: 30%;
}
.whatsappBtn {
  border-bottom: solid 1px #633511;
  width: fit-content;
  padding-bottom: 10px;
  margin: 0;
}
.socialMedia {
  display: flex;
  flex-direction: column;
}
.socialMedia h5 {
  color: #633511;
  font-weight: 600;
  font-size: 16px;
  margin-left: 0;
  margin-top: 15px;
}
.icons {
  width: fit-content;
  display: flex;
  margin-left: 0;
}
.icons svg {
  fill: #633511;
  margin-right: 10px;
  cursor: pointer;
}
.icons svg:hover {
  fill: #ff7d00;
  transition: 0.15s ease-in-out;
}
.disableBtn {
  border: gray !important;
  background-color: gray !important;
}
.disableBtn:hover {
  cursor: default;
  border: gray;
  background-color: gray;
  color: #fff !important;
}
.popupContainer {
  background-color: hsl(0, 0%, 0%, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 600;
}
.popup {
  background-color: #e5e5e5;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -150px;
}
.popup button {
  outline: 0;
  background-color: #633511;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.popup button:hover {
  transition: 0.15s ease-in-out;
  background-color: #ff7d00;
}
.popup h3 {
  color: #633511;
  font-weight: 600;
}
.popup p {
  color: #633511;
}
.hide {
  display: none;
}
.headerContainerResponsive {
  display: none;
}
@media screen and (max-width: 767px) {
  .headerContainerResponsive {
    display: block;
  }
  .headerContainer {
    display: none;
  }
  .titleContainer {
    width: 80vw;
  }
  .titleContainer h3 {
    text-align: center;
    font-size: 22px;
  }
  .subtitle {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 80vw;
  }
  .subtitle h5 {
    text-align: center;
    font-size: 16px;
  }
  .container {
    flex-direction: column;
  }
  .fields {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: solid 1px #633511;
  }
  .field input,
  .field textarea {
    width: 80vw;
  }
  .socialMediaContainer {
    width: 80vw;
    padding-top: 20px;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
  .whatsappBtn {
    width: 80vw;
  }
  .socialMedia h5,
  .icons,
  .whatsappBtn {
    margin-left: auto;
  }
}
