.container {
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #fffbe4;
  justify-content: center;
}
.title {
  font-size: 20px;
  font-weight: 600;
  color: #ff7d00;
  width: 80vw;
  height: fit-content;
  padding-bottom: 5px;
  border-bottom: solid 1px #633511;
  text-align: center;
}
.itemContainer {
  display: flex;
  justify-content: space-around;
  width: 70vw;
  padding-top: 30px;
}
.item {
  width: 18vw;
  display: flex;
  flex-direction: column;
}
.item img {
  height: 150px;
  display: block;
  padding-bottom: 20px;
}
.item span {
  text-align: center;
  font-weight: 600;
  color: #633511;
}
.item p {
  color: #633511;
  font-size: 14px;
  text-align: center;
}
