@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap");

.container {
  display: flex;
  height: 80px;
  width: 100vw;
  z-index: 900;
  position: fixed;
  top: 0;
  background-color: #fffbe4;
  padding-top: 10px;
}
.container img {
  height: 60px;
}
.navMenu,
.navMenuActive {
  background-color: #633511;
  display: flex;
  height: 30px;
  width: 100vw;
  z-index: 900;
  position: fixed;
  top: 80px;
  align-items: center;
  box-shadow: 0px 1px 12px -1px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 0px 1px 12px -1px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 0px 1px 12px -1px rgba(0, 0, 0, 0.59);
}
.navMenu ul,
.navMenuActive ul {
  padding: 0;
  display: flex;
  margin-left: 50px;
  margin-bottom: 0;
  width: 40vw;
}
.navMenu ul li,
.navMenuActive ul li {
  text-decoration: none;
  color: #fff;
  list-style: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.navMenu ul li:focus,
.navMenuActive ul li:focus {
  outline: none;
}
.navMenu ul li:hover {
  transition: 0.15s ease-in-out;
  color: #ff7d00;
}
.socialMedia {
  display: flex;
  width: 70px;

  margin-right: 0px;
  position: relative;
  left: 150px;
}
.socialMedia svg {
  cursor: pointer;
  fill: #fffbe4;
}
.socialMedia svg:hover {
  fill: #ff7d00;
  transition: 0.15s ease-in-out;
}
.socialMediaContainer p {
  display: none;
}
.responsiveClosedMenu,
.responsiveMenu {
  display: none;
}
@media screen and (max-width: 767px) {
  .container {
    box-shadow: 0px 1px 12px -1px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0px 1px 12px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 1px 12px -1px rgba(0, 0, 0, 0.59);
  }
  .responsiveClosedMenu {
    left: 20px;
    top: 40px;
    scale: 0.6;
    cursor: pointer;
    position: absolute;
    fill: #fff;
    display: flex;
    justify-content: center;
    transition: 0.15s ease-in-out;
    display: block;
  }

  .responsiveMenu {
    left: 20px;
    top: 40px;
    scale: 0.6;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    transition: 0.15s ease-in-out;
    display: block;
  }
  .activeTop {
    bottom: 14px;
    height: 3px;
    width: 35px;
    background-color: #633511;
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease-in-out;
    transform: rotate(-45deg);
    transform-origin: right;
    top: -13px;
  }
  .top {
    bottom: 4px;
    height: 3px;
    width: 30px;
    background-color: #633511;
    border-radius: 50px;
    position: absolute;
    transition: 0.15s ease-in-out;
  }

  .middle {
    height: 3px;
    width: 30px;
    background-color: #633511;
    border-radius: 50px;
    position: absolute;
    transition: 0.15s ease;
    top: 3px;
  }
  .bottom {
    top: 14px;
    height: 3px;
    width: 30px;
    background-color: #633511;
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
  }
  .activeBottom {
    top: -25px;
    height: 3px;
    width: 35px;
    background-color: #633511;
    border-radius: 10px;
    position: absolute;
    transition: 0.3s ease-in-out;
    transform: rotate(45deg);
    transform-origin: right;
    top: 13px;
  }
  .navMenu {
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    display: none;
  }
  .navMenuActive {
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 100;
  }
  .navMenu ul,
  .navMenuActive ul {
    flex-direction: column;
    margin: auto;
    width: 100vw;
  }
  .navMenu ul li,
  .navMenuActive ul li {
    padding: 10px;
    border-bottom: solid 1px #ff7d00;
    width: 100vw;
    text-align: center;
  }
  .socialMedia {
    position: unset;
    left: auto;
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    height: 50px;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .socialMedia svg {
    scale: 1.2;
  }
  .socialMediaContainer p {
    display: block;
    color: #fff;
    text-align: center;
    margin-top: 10px;
  }
  .socialMediaContainer {
    background-color: #784312;
    width: 100vw;
  }
  .hiddenBackground {
    display: none;
  }
  .background {
    width: 100vw;
    height: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 50;
  }
}
