.responsiveCarousel {
  display: none;
}
.desktopCarousel {
  margin-top: 40px;
}

.whatsappButton {
  position: sticky;
  top: 80vh;
  float: right;
  margin-right: 50px;
  z-index: 100; /* Asegura que esté por encima de los otros componentes */
  transition: 350ms ease-in-out;
}
.whatsappButtonBottom {
  position: sticky;
  top: 40vh;
  float: right;
  margin-right: 50px;
  z-index: 100;
  transition: 350ms ease-in;
}
.responsiveWhatsappButton {
  display: none;
}
.nosotrosMobile {
  display: none;
}
.nosotrosTextContainer {
  display: flex;
  width: 100vw;
  flex-direction: column;
  position: absolute;
  z-index: 500;
  margin-top: 300px;
}
.nosotrosTextContainer h3,
.nosotrosTextContainer p {
  color: #fff;
}
.nosotrosTextContainer h3 {
  font-size: 40px;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .desktopCarousel {
    display: none;
  }
  .responsiveCarousel {
    display: block;
    margin-top: 80px;
  }
  .whatsappButton,
  .whatsappButtonBottom {
    display: none;
  }
  .responsiveWhatsappButton {
    display: block;
    background-color: #fff;
    padding-bottom: 40px;
  }
  .nosotrosDesktop {
    display: none;
  }
  .nosotrosMobile {
    display: block;
  }

  .nosotrosTextContainer {
    display: flex;
    width: 100vw;
    flex-direction: column;
    position: absolute;
    z-index: 500;
    margin-top: 200px;
  }
  .nosotrosTextContainer p {
    width: 80vw;
    text-align: center;
    font-size: 16px;
  }
  .nosotrosTextContainer h3 {
    font-size: 30px;
    font-weight: 600;
  }
}
