.responsiveHeader {
  display: none;
}
.container {
  padding-bottom: 50px;
  margin-top: 110px;
}
.titleContainer {
  width: 100vw;
  display: flex;
  padding-top: 30px;
}
.titleContainer h3 {
  color: #633511;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 5px;
  width: 50%;
  text-align: center;
  border-bottom: solid 1px #633511;
}
.itemContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  width: 60%;
  margin-top: 30px;
}
.item {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}
.productImage {
  display: flex;
  height: 200px;
  align-items: center;
}
.img {
  margin-top: auto;
}
.item span {
  margin-top: 10px;
  font-size: 14px;
  color: #633511;
}
.whatsapp {
  position: fixed;
  top: 450px;
  right: 80px;
  width: fit-content;
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 767px) {
  .container {
    margin-top: 80px;
  }
  .whatsapp {
    position: relative;
    top: auto;
    right: auto;
    width: fit-content;
    height: unset;
    width: unset;
  }

  .desktopHeader {
    display: none;
  }
  .responsiveHeader {
    display: block;
  }
  .itemContainer {
    width: 100vw;
  }
  .whatsapp {
    position: relative;
    top: 20px;
    right: auto;
    padding-top: 30px;
    border-top: solid 1px #633511;
    width: 80%;
  }
  .titleContainer h3 {
    width: 80%;
  }
  .productImage {
    height: fit-content;
  }
  .itemContainer {
    gap: 40px;
  }
}
