.container {
  margin-top: 90px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  width: 90vw;
}
.imgContainer {
  display: flex;
  margin-left: 50px;
}
.img {
  width: 30vw;
  z-index: 200;
}
.imgContainer h1 {
  font-size: 25px;
  font-weight: 600;
  color: #633511;
}
.imgContainer p {
  color: #633511;
  font-size: 16px;
  font-weight: 400;
}
.description {
  border-bottom: solid 1px #633511;
  width: fit-content;
  margin: 0;
  margin-bottom: 5px;
}
.textContainer {
  height: fit-content;
  float: right;
}

.textBackground {
  background-color: #fff;
  border-radius: 30px;
  height: fit-content;
  position: relative;
  top: 100px;
  right: 130px;
  width: 32vw;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 150px;
  display: flex;
}
.aditionalInfo {
  border-left: solid 5px #633511;
  padding-left: 10px;
  height: fit-content;
  margin-top: 20px;
}
.aditionalInfo h5 {
  color: #633511;
}
.aditionalInfo p {
  color: #212121;
}

.relatedProduct {
  background-color: #fff;
  height: 170px;
  width: 350px;
  align-items: center;
  padding-left: 15px;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.15);
}
.relatedProduct:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.3);
}
.relatedProduct:hover .relatedTextContainer h3 {
  color: #c27f40;
  transition: 0.2s ease-in-out;
}
.relatedProduct:hover .relatedTextContainer p {
  color: #c27f40;
  transition: 0.2s ease-in-out;
}
.relatedImage {
  width: 150px;
}
.relatedTextContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  position: relative;
  top: 20px;
  margin-left: 10px;
}
.relatedTextContainer h3,
.relatedTextContainer p {
  margin: 0;
  color: #633511;
  width: fit-content;
}
.relatedTextContainer h3 {
  font-size: 18px;

  width: fit-content;
  font-weight: 600;
}

.relatedTextContainer p {
  font-size: 14px;
  width: 85%;
}
.productsContainer {
  display: flex;
}
.relatedProductsContainer {
  background-color: #784312;
  padding-top: 20px;
  padding-bottom: 20px;
}
.relatedProductsContainer h2 {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .imgContainer {
    flex-direction: column;
    margin: auto;
    width: 80vw;
  }

  .textBackground {
    border-radius: none;
    position: auto;
    top: -70px;
    right: auto;
    width: 80vw;
    padding: 0;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
  }

  .textContainer {
    float: auto;
    width: 80vw;
    margin: auto;
  }
  .img {
    width: 60vw;
  }
  .imgContainer h1,
  .imgContainer p,
  .description {
    text-align: center;
    width: 100%;
  }
  .relatedProductsContainer {
    margin: auto;
  }

  .relatedProduct {
    height: 140px;
    align-items: center;
  }
  .productsContainer {
    flex-direction: column;
  }
  .relatedProduct {
    width: 90vw;
  }
  .aditionalInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
    margin: auto;
    padding: none;
  }
  .aditionalInfo h5,
  .aditionalInfo p {
    text-align: center;
  }
}
